/* styles.css */

:root {
    --primary-color: #3498db;
    --secondary-color: #e74c3c;
    --accent-color: #2ecc71;
    --background-color: #f9f9f9;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

.site-header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #fff;
}

.hero-section {
    background-image: url('hero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
}

.hero-section h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 2px black;
    color: rgba(255, 255, 255, 0.9); /* Добавляем немного прозрачности */
}

.hero-section p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.8);
}

.hero-section button {
    background-color: var(--primary-color);
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1rem;
}

.hero-section button:hover {
    background-color: darken(var(--primary-color), 10%);
}

.about-section {
    padding: 2rem;
    background-color: var(--background-color);
}

.problems-section {
    padding: 2rem;
    background-color: #f4f4f4;
}

.contacts-section {
    padding: 2rem;
    background-color: #f9f9f9;
}

.app-section {
    background-color: var(--secondary-color);
    color: white;
    padding: 2rem;
}

.download-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: darken(var(--accent-color), 10%);
}

.footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
}

@media (max-width: 768px) {
    .hero-section {
        height: 50vh;
    }
}
